<div class = "info round"> 
<table>
  <% if @flights.length != 0 %>
    <tr class = "heading">
      <td>Flight Date</td><td>Departs</td><td>Origin</td><td>Destination</td>
    </tr>
    <%= render @flights %>
  <% else %>
  <div class = "info round">
    There are no flights in our database that match your search criteria.<br><br>
    <%= link_to "Why Not?", help_path %>
  </div>  
  <% end %>
</table>
</div>