<div class = "info round">
  Flight Dog is a tool to help you<br />
  determine the optimal time to purchase airline tickets.
  <br /><br />
  Enter the information for your flight of interest<br />
  on the home page to view the price history of that flight.
</div>