<div class = "info round">
  <ui class = "question">
  Why can't I find the my flight on your site?
  </ui>
  </br></br>
  <ui class = "answer">
  We're just starting out, so at this time we're only collecting information for some of the most popular AirTran and JetBlue routes. We plan on adding more routes soon. If you are interested in a particular route, please let us know using the Contact form.
  </ui>
</div>

<div class = "info round">
  <ui class = "question">
  I see my flight for a different price than your site shows. Why?
  </ui>
  </br></br>
  <ui class = "answer">
  Our pricing data comes directly from the airline websites. Different aggregators or ticketing agents may offer different prices. We strive to keep our data as accurate as possible.
  </ui>
</div>

<div class = "info round">
  <ui class = "question">
  Do I have to register or pay to use FarePlots?
  </ui>
  </br></br>
  <ui class = "answer">
  Absolutely not. FarePlots is provided entirely free of charge. If you'd like to support our site, we encourage you to use the affiliate links to buy your airline tickets. It doesn't cost you anything extra, and it helps us keep the site up and running. Also, tell your friends!
  </ui>
</div>